/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --max-viewport: 1240px;
}

html {
  margin: 0 auto;
  max-width: var(--max-viewport);
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
  font-size: var(--size-step--1);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

footer {
  margin-top: var(--size-step-5);
}

h1 {
  font-size: var(--size-step-5);
  margin: 0.67em 0;
}
h2 {
  font-size: var(--size-step-4);
}
h3 {
  font-size: var(--size-step-3);
}
h4 {
  font-size: var(--size-step-2);
}
h5 {
  font-size: var(--size-step-1);
}
h6 {
  font-size: var(--size-step-0);
}

.font-bold {
  font-weight: bold;
}

figure {
  margin: unset;
}
