:root {
  --color-main: #170a05;
  --color-background: #f3e6d2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #f3e6d2;
    --color-background: #170a05;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-main);
}

a {
  color: var(--color-main);
}

hr {
  color: var(--color-main);
}
